{% extends 'shared/_layout.html' %}
{% block title %}فراموشی رمز عبور{% endblock %}


{% block content %}
    <section id="form"><!--form-->
        <div class="col-sm-6 col-md-offset-3">
            <div class="signup-form"><!--sign up form-->
                <h2>فراموشی رمز عبور</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ forget_pass_form.email }}
                    {{ forget_pass_form.email.errors }}
                    <button type="submit" class="btn btn-default">فراموشی رمز عبور</button>
                </form>
            </div><!--/sign up form-->
        </div>
    </section>
    </div>
{% endblock %}

