{% extends 'shared/_layout.html' %}
{% load static %}
{% load thumbnail %}
{% load render_partial %}


{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}
    <h2 class="title text-center">
        {% if request.resolver_match.url_name == 'change_password' %}
            تغییر رمز عبور
        {% endif %}
    </h2>
    <div class="row">
        <div class="col-md-3 pull-right">
            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
        <div class="col-md-3 pull-left">
            <div class="col-md-12">
                <ul class="list-group">
                    <div class="thumbnail">
                        {% if user.avatar %}
                            {% thumbnail user.avatar "180x180" crop='center' as im %}
                                <img src="{{ im.url }}" alt="avatar {{ user.last_name }}" class="img-circle">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="{{ user.last_name }}"
                                 class="img-circle" width="180"
                                 height="180">
                        {% endif %}

                        <div class="caption">
                            <h4 class="text-center">{{ user.username }}</h4>
                            {% if user.first_name or user.last_name %}
                                <hr>
                                <h5 class="text-center">{{ user.first_name }} {{ user.last_name }}</h5>
                            {% endif %}
                            {% if user.about_user %}
                                <hr>
                                <p>{{ user.about_user }}</p>
                            {% endif %}
                            {% if user.address %}
                                <hr>
                                <p>{{ user.address }}</p>
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="contact-form">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form row" action="{% url 'panel:change_password' %}"
                      method="post">
                    {% csrf_token %}
{#                    {% if error in form.errors %}#}
{#                        <div class="alert alert-danger">#}
{#                        <strong>{{ error }}</strong>#}
{#                        </div>#}
{#                    {% endif %} #}
                    <div class="form-group col-md-12">
                        {{ form.current_password }}
                        {{ form.current_password.errors }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.new_password }}
                        {{ form.new_password.errors }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.confirm_new_password }}
                        {{ form.confirm_new_password.errors }}
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">تغییر رمز</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
