{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% load static %}

{% block title %}ویرایش اطلاعات کاربری{% endblock %}

{% block content %}
    <h2 class="title text-center">
        {% if request.resolver_match.url_name == 'edit_profile' %}
            ویرایش اطلاعات کاربری
        {% endif %}
    </h2>
    <div class="row">
       {% include 'include/user_profile_card.html' %}

        <div class="col-sm-6">
            <div class="contact-form">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form row" action="{% url 'panel:edit_profile' %}"
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        {{ form.first_name }}
                    </div>
                    <div class="form-group col-md-12">
                        نام خانوادگی:{{ form.last_name }}
                    </div>
                    <div class="form-group col-md-12">
                        تصویر نمایه: {{ form.avatar }}
                    </div>
                    <div class="form-group col-md-12">
                        درباره من:{{ form.about_user }}
                    </div>
                    <div class="form-group col-md-12">
                        آدرس:{{ form.address }}
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">ثبت اطلاعات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}