{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load jalali_tags %}
{% block title %}
    خرید
{% endblock %}

{% block content %}

    <h2 class="title text-center">
        {% if request.resolver_match.url_name == 'edit_profile' %}
            ویرایش اطلاعات کاربری
        {% endif %}
    </h2>
    <div class="row">
        {% include 'include/user_profile_card.html' %}
        <div class="col-sm-6">
            <table class="table table-responsive table-hover table-striped">
                <tr>
                    <td><strong>شناسه</strong></td>
                    <td><strong>محصول</strong></td>
                    <td><strong>تعداد</strong></td>
                    <td><strong>قیمت تکی محصول</strong></td>
                </tr>
                {% for detail in order.orderdetail_set.all %}
                    <tr>
                        <td>{{ detail.id }}</td>
                        <td><a href="{% url 'product:product_detail' pk=detail.product.id slug=detail.product.slug %}">{{ detail.product.title }}</a></td>
                        <td>{{ detail.count }}</td>
                        <td>{{ detail.final_price | three_digit_currency }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
