{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}صفحه تماس با ما{% endblock %}

{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
                        <div class="status alert alert-success" style="display: none"></div>

                        <form id="main-contact-form" class="contact-form row" action="{% url 'contact:contact_page' %}"
                              method="post">
                            {% csrf_token %}
                            {#                                                        {{ form }}#}
                            <div class="form-group col-md-6">
                                {{ form.full_name }}
                                {{ form.full_name.errors }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                            <div class="form-group col-md-12 ">
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ form.message }}
                                {{ form.message.errors }}
                            </div>

                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">ارسال</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">اطلاعات تماس</h2>
                        <address>
                            <p>{{ site_setting.site_name }}</p>
                            {% if site_setting.address %}
                                <p>آدرس : {{ site_setting.address }}</p>
                            {% endif %}
                            {% if site_setting.phone %}
                                <p>تلفن تماس : {{ site_setting.phone }}</p>
                            {% endif %}
                            {% if site_setting.fax %}
                                <p>فکس : {{ site_setting.fax }}</p>
                            {% endif %}
                            <p style="font-family: tahoma;">ایمیـل : {{ site_setting.email }}</p>
                        </address>
                        <div class="social-networks">
                            <h2 class="title text-center">شبکـه های اجتـماعی</h2>
                            <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="{% static  "images/product-details/Bale.png" %}"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="{% static  "images/product-details/Soroush.png" %}"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="{% static  "images/product-details/Instagram.png" %}"/>
											</li>
										</a>
									</ul>
								</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->
{% endblock %}