{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load static %}

{% block title %}
    صفحه لیست محصولات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    {% if product %}
                        <div class="features_items"><!--features_items-->
                            <h2 class="title text-center">محصولات عمده</h2>
                            {% for product in product %}
                                {% include 'product_module/includes/product_item_partial.html'  with product=product col_size=4 %}
                            {% endfor %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a class="cursor-pointer"
                                           onclick="fillpage({{ page_obj.previous_page_number }})">قبلی</a></li>
                                {% endif %}
                                {% for pageNumber in paginator.page_range %}
                                    <li class="{% if page_obj.number == pageNumber %}active{% endif %}">
                                        <a class="cursor-pointer"
                                           onclick="fillpage({{ pageNumber }})">{{ pageNumber }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a class="cursor-pointer" onclick="fillpage({{ page_obj.next_page_number }})">بعدی</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div><!--features_items-->
                    {% else %}
                        <div class="alert alert-danger">
                            <p>محصولی یافت نشد</p>
                            <hr>
                            <a href="{% url 'home:home' %}">بازگشت به خانه</a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% render_partial 'product_module.views.product_categories_component' %}
                    </div><!--/category-productsr-->

                    <div class="brands_products"><!--brands_products-->
                        {% render_partial 'product_module.views.product_brands_component' %}
                    </div><!--/brands_products-->

                    <div class="price-range"><!--price-range-->
                        <h2>فیلتـر قیمـت</h2>
                        <div class="well">
                            <input type="text" class="span2" value="{{ start_price }},{{ end_price }}"
                                   data-slider-min="{{ start_price }}" data-slider-max="{{ db_max_price }}"
                                   data-slider-step="10000" data-slider-value="[{{ start_price }},{{ end_price }}]"
                                   id="sl2"><br/>
                            <b>{{ db_max_price }}</b> <b class="pull-left">0</b>
                        </div>
                    </div><!--/price-range-->
                    <div>
                        <form action="" method="get" id="filter_form">
                            <input type="hidden" name="start_price" value="{{ start_price }}" id="start_price">
                            <input type="hidden" name="page" value="{{ page_obj.number }}" id="page">
                            <input type="hidden" name="end_price" value="{{ end_price }}" id="end_price">
                        </form>
                        <button class="btn btn-primary btn-block" onclick="filterProduct()">فیلتر</button>

                    </div>

                        {% for banner in banners %}
                            <div class="shipping text-center"><!--shipping-->
                                {% if banner.image %}
                                    {% thumbnail banner.image "270x329" quality=100 crop='center' as im %}
                                        <a href="{{ banner.url }}">
                                            <img src="{{ im.url }}" alt="image {{ banner.title }}">
                                        </a>
                                    {% endthumbnail %}
                                    {#                    <img src="{{ product.image.url }}" width="268px" height="250px" alt="image of {{ product.title }}">#}
                                {% endif %}

                            </div><!--/shipping-->
                        {% endfor %}
                    <br>
                    <br>
                </div>
            </div>

        </div>
        </div>
    </section>
{% endblock %}
