{% extends 'shared/_layout.html' %}
{% load jalali_tags %}
{% load poll_extras %}
{% load render_partial %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block header_refrances %}
    <link rel="stylesheet" href="{% static 'lib/image-lightbox/css/lightbox.min.css' %}">
{% endblock %}

{% block footer_refrances %}
    <script src="{% static 'lib/image-lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/image-lightbox/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {% if is_favorite %}
                    <div class="col-md-12">
                    <div class="row">
                        <p>
                            محصول مورد علاقه
                        </p>
                    </div>
                {% endif %}
                </div>
                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                {% if product.image %}
                                    {% thumbnail product.image "330x380" quality=100 crop='center' as im %}
                                        <img src="{{ im.url }}" alt="image {{ product.title }}" id="main_image">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="{% static "images/product-details/1.jpg" %}"
                                         alt="image of {{ product.title }}">
                                {% endif %}
                                <h3>
                                    <a id="show_large_image_model" href="{{ product.image.url }}"
                                       data-lightbox="product-image">
                                        بزرگنمایـی
                                    </a>
                                </h3>

                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">

                                    {% for group in product_galleries_group %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            {% for gallery in group %}
                                                <a onclick="showLargeImage('{{ gallery.image.url }}')">
                                                    <img src="{{ gallery.image.url }}" width="85" height="84"
                                                         alt="image {{ product.title }}"
                                                         id="main_image">
                                                </a>
                                            {% endfor %}

                                        </div>
                                    {% endfor %}

                                </div>


                                <!-- Controls -->
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="{% static "images/product-details/new.png" %}" class="newarrival" alt="">
                                <div>
                                    <h2>{{ product.title }}</h2>
                                    <p>شناسـه : {{ product.id }}</p>
                                </div>
                                <div>
									<span>
										<span>قیمت : {{ product.price | three_digit_currency }}</span>
									</span>
                                    <span>
                                            <label>تعداد :</label>
										<input type="number" min="1" value="1" class="search_box" id="product_count">
										<button onclick="addProductToOrder('{{ product.id }}')"
                                                class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افزودن به سبد خرید
										</button>
									</span>
                                </div>
                                <div>
                                    <p><b>موجـودی :</b> در انبـار موجود می باشد</p>
                                    <p><b>شرایـط :</b> جدیـد</p>
                                    {% if product.brand %}
                                        <p><b>برنـد :</b> {{ product.brand.title }} </p>

                                    {% endif %}
                                </div>

                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="#details" data-toggle="tab">جزئیات</a></li>
                                <li><a href="#reviews" data-toggle="tab"> نظرات ({{ comment_count }})</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="details">
                                <div class="col-md-12">
                                    {{ product.description | safe }}
                                </div>
                            </div>
                            <div class="tab-pane fade " id="reviews">
                                <div class="col-sm-12">

                                    <div class="response-area" id="comment_area">
                                        <ul class="media-list">
                                            {% for comment in comment %}
                                                <li class="media" id="single_comment_box_{{ comment.id }}">
                                                    <a class="pull-right">
                                                        {% if comment.user.avatar %}
                                                            {% thumbnail comment.user.avatar "90x90" crop='center' as im %}
                                                                <img src="{{ im.url }}" alt="avatar {{ comment.user }}" class="img-circle">
                                                            {% endthumbnail %}
                                                        {% else %}
                                                            <img class="media-object"
                                                                 src="{% static "images/default-avatar1.png" %}"
                                                                 alt="avatar {{ comment.user }}">
                                                        {% endif %}
                                                    </a>
                                                    <div class="media-body">
                                                        <ul class="sinlge-post-meta">
                                                            <li><i class="fa fa-user"></i>{{ comment.user }}</li>
                                                            <li><i class="fa fa-clock-o"></i>{{ comment.created.time }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-calendar"></i>{{ comment.created.date | to_jalali }}
                                                            </li>
                                                        </ul>
                                                        <p>{{ comment.text }}</p>
                                                        <a class="btn btn-primary"
                                                           onclick="fillParentId({{ comment.id }})"><i
                                                                class="fa fa-reply"></i>پاسـخ</a>
                                                    </div>
                                                </li>
                                                {% for sub_comment in comment.productcomment_set.all %}
                                                    <li class="media second-media"
                                                        id="single_comment_box_{{ comment.id }}">
                                                        <a class="pull-right">
                                                            {% if sub_comment.user.avatar %}
                                                                {% thumbnail sub_comment.user.avatar "90x90" crop='center' as im %}
                                                                    <img src="{{ im.url }}"
                                                                         alt="avatar {{ sub_comment.user }}" class="img-circle">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                <img class="media-object img-circle"
                                                                     src="{% static "images/default-avatar1.png" %}"
                                                                     alt="avatar {{ sub_comment.user }}" height="90" width="90">
                                                            {% endif %}
                                                        </a>
                                                        <div class="media-body">
                                                            <ul class="sinlge-post-meta">
                                                                <li><i class="fa fa-user"></i>{{ sub_comment.user }}
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-clock-o"></i>{{ sub_comment.created.time }}
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-calendar"></i>{{ sub_comment.created.date | to_jalali }}
                                                                </li>
                                                            </ul>
                                                            <p>{{ sub_comment.text }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}

                                            {% endfor %}

                                        </ul>
                                    </div><!--/Response-area-->

                                    <div class="replay-box" id="comment_form">
                                        {% if request.user.is_authenticated %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h2>نظـر خود را بنویسیـد</h2>
                                                    <div class="text-area">
                                                        <input type="hidden" id="parent_id" value="">
                                                        <div class="blank-arrow">
                                                            <label>متن پیام</label>
                                                        </div>
                                                        <span>*</span>
                                                        <textarea name="message" rows="11" class="form-control"
                                                                  id="comment-text"
                                                                  placeholder="نظر خود را به اشتراک بگذارید"></textarea>
                                                        <a class="btn btn-primary"
                                                           onclick="sendProductComment({{ product.id }})">ارسـال
                                                            نظـر</a>
                                                    </div>
                                                </div>

                                            </div>
                                        {% else %}
                                            <div class="alert alert-warning">
                                                برای درج نظر میبایست در سایت <a href="{% url 'account:login_page' %}">لاگین</a>
                                                کنید
                                            </div>
                                        {% endif %}
                                    </div><!--/Repaly Box-->
                                </div>
                            </div>

                        </div>
                    </div><!--/category-tab-->

                    <div class="recommended_items"><!--recommended_items-->
                        <h2 class="title text-center">محصولات مرتبط</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for group in related_products %}
                                    <div class="item {% if forloop.first %}active {% endif %}">
                                        {% for product in group %}
                                            {% include 'product_module/includes/product_item_partial.html'  with product=product col_size=4 %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if related_products|length > 1 %}
                                <a class="left recommended-item-control" href="#recommended-item-carousel"
                                   data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right recommended-item-control" href="#recommended-item-carousel"
                                   data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>

                            {% endif %}

                        </div>
                    </div><!--/recommended_items-->

                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="left-sidebar">
                            {% render_partial 'product_module.views.product_categories_component' %}
                        </div><!--/category-productsr-->

                        <div class="brands_products"><!--brands_products-->
                            {% render_partial 'product_module.views.product_brands_component' %}
                        </div><!--/brands_products-->

                        </div>
                        {% for banner in banners %}
                            <div class="shipping text-center"><!--shipping-->
                                {% if banner.image %}
                                    {% thumbnail banner.image "270x329" quality=100 crop='center' as im %}
                                        <a href="{{ banner.url }}">
                                            <img src="{{ im.url }}" alt="image {{ banner.title }}">
                                        </a>
                                    {% endthumbnail %}
                                    {#                    <img src="{{ product.image.url }}" width="268px" height="250px" alt="image of {{ product.title }}">#}
                                {% endif %}

                            </div><!--/shipping-->
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
